.navbar__container {
  background-color: #000 !important;
}

.navbar__logo {
  font-size: 32px;
}
.nav-link {
  color: #fff !important;
}

.modal-content {
  background-color: #242424;
}

.modal-header {
  color: #fff !important;
}
.modal-body {
  color: #fff !important;
}

.btn-close {
  background-color: #fff;
}
