.getApp__container {
  margin-top: 200px;
  background-color: #000;
  height: 500px;
}
.getApp__title {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.getApp__download__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

Button {
  margin: 20px !important;
}

.getApp__storeButtons {
  width: 320px;
}

.getApp__storeButtons:hover {
  color: #fff;
  border: 1px solid #fff !important;
}
